<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Text</title>
</head>
<body>
    <h1>Uploaded Audio Text</h1>
    <p>You uploaded: {{ file_name }}</p>
     <p>Do you want to proceed?</p>
    <form action="/text_to_speech" method="GET">
        <input type="hidden" name="file_name" value="{{ file_name }}">
        <button type="submit">Next</button>
    </form>
</body>
</html>